body{
  margin: 0;
  background: rgb(249, 250, 255);

  font-family: Pretendard-Regular;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header-container{
  width: 100%;
  height: 85px;
  background-color: rgb(11, 11, 11);
  color: white;
  padding: 10px;
}
.header-container h1{
  margin-top: 0px;
  margin-bottom: 0;
  margin-left: 10px;
}
.header-container p{
  color: rgb(201, 201, 201);
  margin: 5px 0 0 13px;
}

.main-container{
  display: flex;
  height: calc(100vh - 85px);
}


.main-left-container{
  padding: 20px 20px 0 20px;
  height: calc(100vh - 85px);
  background-color: rgb(20, 20, 20);
  box-sizing: border-box;
}
.main-left-container select {
  background-color: rgb(20, 20, 20);
  font-size: 17px;
  padding: 20px 20px 10px 8px;
  display: block;
  margin-bottom: 20px;
  color: white;
  border: 0;
  border-bottom: 1px solid white;
  width: 220px;
}
select, button:focus {outline: none;}
.main-left-container button {
  margin-top: 15px;
  width: 60px;
  height: 30px;
  cursor: pointer;
  background-color: rgb(20, 20, 20);
  border: 0;
  /* border-bottom: 1px solid white; */
  color: white;
  /* border-radius: 5px; */
  margin-left: auto;
}
.left-temp{
  display: flex;
}

.main-right-container{

}
.main-right-container h2{
  margin-left: 20px;
  font-size: 28px;
}

.loading-img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
}